<form action="/cart" method="post" class="drawer_form">
  
  <div class="widget-heading"> 
        <h3 class="widget-title"><svg width="16px" height="16px" viewBox="0 0 16 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <g id="Mobile" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"> <g id="01_ML_Home_mobile" transform="translate(-339.000000, -59.000000)" fill="white" fill-rule="nonzero"> <path d="M354.992178,73.7212476 C355.013036,73.9499687 354.992178,74.1371013 354.929604,74.2826511 C354.867029,74.4282009 354.799241,74.5425597 354.726238,74.625731 C354.653234,74.7089023 354.538516,74.7920724 354.38208,74.8752437 C354.225643,74.958415 354.017065,75 353.756338,75 L340.099518,75 C339.911795,75 339.747539,74.9714103 339.606746,74.91423 C339.465954,74.8570497 339.348628,74.7764788 339.254767,74.6725146 C339.150476,74.5581541 339.077473,74.4204037 339.035757,74.2592593 C338.99404,74.0981149 338.988826,73.9135813 339.020113,73.705653 L340.224667,65.8304094 C340.276812,65.3417779 340.506249,64.9155314 340.912983,64.5516569 C341.319717,64.1877825 341.77859,64.005848 342.289615,64.005848 L343.494169,64.005848 L343.494169,62.6803119 C343.494169,62.1708876 343.582815,61.6926598 343.760109,61.245614 C343.937403,60.7985683 344.182483,60.4087086 344.495356,60.0760234 C344.808228,59.7433382 345.178455,59.4808327 345.606048,59.288499 C346.03364,59.0961654 346.502942,59 347.013967,59 C347.524993,59 347.994294,59.0961654 348.421887,59.288499 C348.84948,59.4808327 349.217099,59.7433382 349.524757,60.0760234 C349.832415,60.4087086 350.072281,60.7985683 350.244361,61.245614 C350.416441,61.6926598 350.502479,62.1708876 350.502479,62.6803119 L350.502479,64.005848 L351.613171,64.005848 C352.124196,64.005848 352.583069,64.1877825 352.989804,64.5516569 C353.396538,64.9155314 353.625974,65.3521742 353.67812,65.8615984 L354.992178,73.7212476 Z M344.495356,62.6803119 L344.495356,64.005848 L349.501292,64.005848 L349.501292,62.6803119 C349.501292,61.9421665 349.271856,61.3105939 348.812976,60.785575 C348.354096,60.2605562 347.754433,59.9980507 347.013967,59.9980507 C346.273502,59.9980507 345.668624,60.2605562 345.199316,60.785575 C344.730007,61.3105939 344.495356,61.9421665 344.495356,62.6803119 Z M353.803268,73.9863548 C353.876272,73.9863548 353.928417,73.9707604 353.959704,73.9395712 C353.990991,73.9083819 354.00142,73.8771931 353.990991,73.8460039 L352.692576,66.0019493 C352.661289,65.7212462 352.538749,65.4847313 352.324953,65.2923977 C352.111157,65.100064 351.873898,65.0038986 351.613171,65.0038986 L350.502479,65.0038986 L350.502479,66.1423002 C350.648486,66.2358679 350.768419,66.3580239 350.862281,66.5087719 C350.956143,66.6595199 351.003073,66.823261 351.003073,67 C351.003073,67.2807032 350.906605,67.517218 350.713667,67.7095517 C350.520729,67.9018853 350.283471,67.9980507 350.001886,67.9980507 C349.7203,67.9980507 349.483042,67.9018853 349.290104,67.7095517 C349.097166,67.517218 349.000698,67.2807032 349.000698,67 C349.000698,66.823261 349.047629,66.6595199 349.14149,66.5087719 C349.235352,66.3580239 349.355285,66.2358679 349.501292,66.1423002 L349.501292,65.0038986 L344.495356,65.0038986 L344.495356,66.1423002 C344.641363,66.2358679 344.761296,66.3580239 344.855158,66.5087719 C344.949019,66.6595199 344.995949,66.823261 344.995949,67 C344.995949,67.2807032 344.899482,67.517218 344.706544,67.7095517 C344.513606,67.9018853 344.276348,67.9980507 343.994762,67.9980507 C343.713177,67.9980507 343.475919,67.9018853 343.282981,67.7095517 C343.090043,67.517218 342.993575,67.2807032 342.993575,67 C342.993575,66.823261 343.040505,66.6595199 343.134367,66.5087719 C343.228229,66.3580239 343.348161,66.2358679 343.494169,66.1423002 L343.494169,65.0038986 L342.289615,65.0038986 C342.028888,65.0038986 341.79163,65.100064 341.577834,65.2923977 C341.364037,65.4847313 341.241498,65.7108499 341.21021,65.9707602 L340.005657,73.8304094 C339.995228,73.8927878 340.008264,73.9369719 340.044766,73.962963 C340.081268,73.988954 340.120376,74.0019493 340.162092,74.0019493 L353.803268,73.9863548 Z" id=""></path></g></g></svg>  YOUR CART</h3> 
<!--         <a href="#" class="widget-close closecart">close</a> -->
      </div>
  
  
  
<!-- <div class="the_cart_title">{{ cart.item_count }} Item in your cart</div> -->
<div class="the_close_ico">
  Close <i class="fa fa-times"></i>
</div>
<div class="the_ajax_item_wrapper mCustomScrollbar" data-mcs-theme="dark">
{% for item in cart.items %}
  <div class="the__cart_item">
    <div class="the__cart_item_img">
    <img src="{{ item.image | img_url }}" data-src="{{ item | img_url: '80X' }}" class="lazyload" alt="{{ item.title | escape }}">
    </div>
    <div class="the__cart_item_info">
      <div class="cart__item_title">{{ item.product.title }}</div>
      <div class="cart__item_variant">
        {% unless item.variant.title contains 'Default' %}
        {% for option_title in item.product.options %}
        <span>{{ option_title }} </span>: {{item.variant.options[forloop.index0] }} 
        {% endfor %}
        {% endunless %}
      </div>
      <div class="cart__item_qty">
      <button class="minus-btn" type="button" name="button">
      <i class="fa fa-minus"></i>
      </button>
      <input {%if item.variant.metafields.secomapp.freegifts%}readonly{%endif%}   type="number"  class="cart__quantity-selector mob-cart-qty-change elite-cart-quantity" name="updates[{{item.variant.id}}]" data-id="{{item.variant.id}}"  {% if item.product.id==1531854487664 %}readonly{%endif%}   id="updates_{{ item.key }}" value="{{ item.quantity }}" min="1" aria-label="{{ 'cart.label.quantity' | t }}" {{ bold_qty_attr }}/>
      <button class="plus-btn" type="button" name="button">
      <i class="fa fa-plus"></i>
      </button>
      </div>
      <div class="cart__item_price">
      <span class="saso-cart-item-price desk-price-ajax-change" data-key="{{item.key}}" data-id="{{item.variant.id}}">{{ item.original_line_price | money }}</span>
      </div>
    </div>
    <div class="cart__item_remover">
      <a href="#" class="cart__remove es-remove-pro" data-id="{{ item.variant.id }}">
        <i class="fa fa-times" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  {% endfor %}
</div>


<div class="the__cart_total">
<div class="the_cart_total_txt">Total</div>
<div class="the_cart_total_amount">{{ cart.total_price | money }}</div>
</div>

<!-- <div class="the__route">
<div id="insurance-wrapper"></div>
</div> -->

  
<!-- <div class="cart__note_wrapper">
  <input type="text" name="note" class="input-full" id="CartSpecialInstructions" placeholder="Order notes">
</div> -->
    
<div class="the__btn__wrapper">      
<!--   <div class="cart__btn_wrapper"><a href="/cart" class="view_cart btn left">Your cart</a></div> -->
  <div class="checkout__btn_wrapper">
      <button type="submit" name="checkout" class="btn right">Proceed to checkout</button>
    
  </div>
  
  {% if additional_checkout_buttons %}
                  <div class="additional-checkout-buttons">{{ content_for_additional_checkout_buttons }}</div>
                {% endif %}
</div>
</form>
<!--       <div class="simple_txt_after_btn">
      Have a Gift Card or Coupon Code? Proceed to checkout to redeem it.
      </div> -->
<div class="no_item_txt">Currently there is no item in the cart.</div>
{% comment %} <div class="the_ajax_item_wrapper"></div>
<div class="no_item">Currently there is no item in the cart.</div> {% endcomment %}


<!--   <div class="continue__sho">
  << Continue shopping
  </div> -->


<script>
$('.continue__sho').click(function(){
$('.my__custom_cart_drawer').removeClass('drawer__open');
  $('body').removeClass('body_drawer__open');
});

$('.the_close_ico').click(function(){
$('.my__custom_cart_drawer').removeClass('drawer__open');
  $('body').removeClass('body_drawer__open');
});

$('.minus-btn').on('click', function(e) {
    		e.preventDefault();
    		var $this = $(this);
    		var $input = $this.closest('div').find('input');
    		var value = parseInt($input.val());

    		if (value > 1) {
    			value = value - 1;
    		} else {
    			value = 0;
    		}

        $input.val(value);
           change_qty($input);
   

    	});
    	$('.plus-btn').on('click', function(e) {
         
          console.log('aaaa');
    		e.preventDefault();
    		var $this = $(this);
    		var $input = $this.closest('div').find('input');
    		var value = parseInt($input.val());

    		if (value < 100) {
      		value = value + 1;
    		} else {
    			value =100;
    		}

    		$input.val(value);
          
          change_qty($input);
    	});

      function change_qty($input){
        var variant_id= $($input).attr("data-id");
        var quantity= $($input).val();
        
        var data = { updates: {} };
        data.updates[variant_id] = quantity;
        console.log(data);
        jQuery.ajax({
          type: 'POST',
          url: '/cart/update.js',
          data: data,
          dataType: 'json',
          success: function(res) { 
            var pro_data = res.items;
            
            console.log(pro_data);
            var price = res.total_price ;
            price = price/100;
            var tot_qty = res.item_count;
            $('.new-cart-sidebar #bk-cart-subtotal-price').html('$' + price.toFixed(2));
            $('.the_cart_total_amount').html('$' + price.toFixed(2));
            $('.new-cart-sidebar .es-subtotal-text').html('Subtotal ( '+tot_qty+' Products):');
            $('.the_cart_title').html(tot_qty+' item in your Cart');
            $('#CartCount').html(tot_qty);
            
            jQuery.each(pro_data, function(index, item) {
              var spe_price=item.final_line_price;
              spe_price= spe_price/100;
              if(item.id == variant_id){
                $('.saso-cart-item-price.desk-price-ajax-change[data-id='+item.id+']').html('$' + spe_price.toFixed(2));
                $('.saso-cart-item-price.mob-price-ajax-change[data-id='+item.id+']').html('$' + spe_price.toFixed(2));
              
              }
            });
            
          }
        });
      };


$(document).on('change', '.cart__quantity-selector', function() {
    
    var variant_id= $(this).attr("data-id");
    var quantity= $(this).val();
    
    var data = { updates: {} };
    data.updates[variant_id] = quantity;
    console.log(data);
    jQuery.ajax({
      type: 'POST',
      url: '/cart/update.js',
      data: data,
      dataType: 'json',
      success: function(res) { 
        var pro_data = res.items;
        
        console.log(pro_data);
        var price = res.total_price ;
        price = price/100;
        var tot_qty = res.item_count;
        $('.new-cart-sidebar #bk-cart-subtotal-price').html('$' + price.toFixed(2));
        $('.the_cart_total_amount').html('$' + price.toFixed(2));
        $('.new-cart-sidebar .es-subtotal-text').html('Subtotal ( '+tot_qty+' Products):');
        $('#CartCount').html(tot_qty);
        
        jQuery.each(pro_data, function(index, item) {
          var spe_price=item.final_line_price;
          spe_price= spe_price/100;
          if(item.id == variant_id){
          	$('.saso-cart-item-price.desk-price-ajax-change[data-id='+item.id+']').html('$' + spe_price.toFixed(2));
          	$('.saso-cart-item-price.mob-price-ajax-change[data-id='+item.id+']').html('$' + spe_price.toFixed(2));
          
          }
        });
        
      }
    });
  //setTimeout(function(){ window.location.href="/cart"; }, 1000);
});
  
 $(document).on("click",".cart__remove", function(event){
   event.preventDefault();
   var variant_id = $(this).attr('data-id');
   console.log("varient: "+variant_id);
   var data = { updates: {} };
   data.updates[variant_id] = '0';

   console.log(data);
   jQuery.ajax({
     type: 'POST',
     url: '/cart/update.js',
     data: data,
     dataType: 'json',
     success: function(res) {
       
       var pro_data = res.items;
      
       
          
       var price = res.total_price ;
        price = price/100;
        var tot_qty = res.item_count;
        $('.new-cart-sidebar #bk-cart-subtotal-price').html('$' + price.toFixed(2));
        $('.the_cart_total_amount').html('$' + price.toFixed(2));
        $('.new-cart-sidebar .es-subtotal-text').html('Subtotal ( '+tot_qty+' Products):');
        $('.the_cart_title').html(tot_qty+' item in your Cart');
        $('#CartCount').html(tot_qty);
          if(tot_qty <= 0){
          $('.my__custom_cart_drawer').addClass('no_item');
        }
        drawer_scroll();
     }
   });
	//setTimeout(function(){ window.location.href="/cart"; }, 1000);
  
        $(this).parent().parent().remove();
        
  //setTimeout(function(){ window.location.href="#"; }, 1000);
 });
</script>